{% load static %}
<div id="navbar" class="bg-white dark:bg-dark_mode sticky top-0 z-10">
    <div class="justify-center flex flex-row px-16 py-4 gap-x-8 items-center align-middle">
        <div class="logo ">
            <span class="font-bold uppercase text-2xl">
                <a href="/">
                    <!-- light mode -->
                    <img class="dark:hidden" src="{% static 'images/svgs/logo_light.svg' %}" alt="Deep Worlds">
                    <img class="hidden dark:block" src="{% static 'images/svgs/logo_dark.svg' %}" alt="Deep Worlds">
                </a>
            </span>
        </div>
        <div class="hidden lg:flex font-medium flex-row grow">
            <div class="flex flex-row gap-x-8 grow justify-center">
                <span>
                     <a href="#">Our Game</a>
                </span>
                 <span>
                     <a href="#who">Who we are</a>
                </span>
                 <span>
                     <a href="#values">Our Values</a>
                </span>
                 <span>
                   <a href="#playtest">Playtest</a>
                </span>
                 <span>
                   <a href="#press">Press & Influencers</a>
                </span>
            </div>
            <div class="flex-row flex gap-x-2">
                <a href="https://twitter.com/DeepWorlds_SA" target="_blank" class="brightness-0 dark:brightness-100"><img src="{% static "images/svgs/twitter.svg" %}"></a>
                <a href="https://www.twitch.tv/deepworldsstudio" target="_blank" class="brightness-0 dark:brightness-100" ><img src="{% static "images/svgs/twitch.svg" %}"></a>
                <a href="https://www.youtube.com/@deepworlds" target="_blank" class="brightness-0 dark:brightness-100"><img src="{% static "images/svgs/yt.svg" %}"></a>
            </div>
        </div>

    </div>

</div>
