{% load static %}
<div id="navbar" class="bg-white dark:bg-dark_mode sticky top-0 z-10">
    <div class="justify-center flex flex-row px-16 py-4 gap-x-8 items-center align-middle">
        <div class="logo ">
            <span class="font-bold uppercase text-2xl">
                <a href="/">
                    <!-- light mode -->
                    <img class="dark:hidden" src="{% static 'images/svgs/logo_light.svg' %}" alt="Deep Worlds">
                    <img class="hidden dark:block" src="{% static 'images/svgs/logo_dark.svg' %}" alt="Deep Worlds">
                </a>
            </span>
        </div>
        <div class="hidden lg:flex font-medium flex-row grow">
            <div class="flex flex-row gap-x-8 grow justify-center">
                <a href="#">Our Game</a>
                <div onclick=smoothScroll("#who") class="cursor-pointer">Who we are</div>
                <div onclick=smoothScroll("#values") class="cursor-pointer">Our Values</div>
                <div onclick=smoothScroll("#playtest") class="cursor-pointer">Playtest</div>
                <div onclick=smoothScroll("#press") class="cursor-pointer">Press & Influencers</div>
            </div>
            <div class="flex-row flex gap-x-2 items-center">
                <a href="https://twitter.com/DeepWorlds_SA" target="_blank"
                   class="brightness-0 dark:brightness-100"><img src="{% static "images/svgs/twitter.svg" %}"></a>
                <a href="https://www.twitch.tv/deepworldsstudio" target="_blank"
                   class="brightness-0 dark:brightness-100"><img src="{% static "images/svgs/twitch.svg" %}"></a>
                <a href="https://www.youtube.com/@deepworlds" target="_blank"
                   class="brightness-0 dark:brightness-100"><img src="{% static "images/svgs/yt.svg" %}"></a>
                <button id="theme-toggle" type="button" class="text-gray-500 focus:outline-none focus:ring-0 text-sm">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 brightness-0 transition-[display] duration-200 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5 brightness-0 invert transition-[display] duration-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                </button>
            </div>
        </div>

    </div>

</div>
