{% load static %}
<div id="navbar" class="bg-white dark:bg-dark_mode">
    <div class="flex flex-row px-16 py-4 gap-x-8 items-center">
        <div class="logo">
            <span class="font-bold uppercase text-2xl mr-8">

                <a href="/">Deep Worlds</a>
            </span>
        </div>
        <div class="hidden lg:flex font-medium flex-row grow">
            <div class="flex flex-row gap-x-8 grow">
                <span>
                     <a href="#">Our Game</a>
                </span>
                 <span>
                     <a href="#who">Who we are</a>
                </span>
                 <span>
                     <a href="#">Our Values</a>
                </span>
                 <span>
                   <a href="#">Playtest</a>
                </span>
                 <span>
                   <a href="#">Press & Influencers</a>
                </span>
            </div>
            <div class="flex-row flex gap-x-2">
                <a href="https://twitter.com/DeepWorlds_SA" target="_blank"><img src="{% static "images/svgs/twitter.svg" %}"></a>
                <a href="https://www.twitch.tv/deepworldsstudio" target="_blank"><img src="{% static "images/svgs/twitch.svg" %}"></a>
                <a href="https://www.youtube.com/@deepworlds" target="_blank"><img src="{% static "images/svgs/yt.svg" %}"></a>
            </div>
        </div>

    </div>

</div>
