{% extends "base.html" %}
{% load static %}

{% block body_class %}homepage{% endblock %}

{% block content %}
    <div class="home_banner_container relative">
        <img src="{% static "images/home_banner_bg.png" %}" class="w-fit object-contain">
        <div class="flex flex-col px-16 inset-y-center">
            <span class="font-bold text-[200px] uppercase leading-[86%]">Black</span>
            <span class="font-bold text-[200px] uppercase leading-[86%]">Light</span>
            <span class="text-2xl font-medium">// WISHLIST NOW ON STEAM</span>
        </div>
    </div>

    <div id="content" class="my-11 flex flex-col gap-y-24 font-light">
        <div class="mx-auto flex flex-col gap-y-8 w-1/3">
            <a id="who" class="font-bold text-2xl text-center">Who we are</a>
            <span>
                Deep Worlds was founded in 2022 by a small team of passionate game developers base in Geneva, Switzerland. From Esport players, modders to enthusiast community members, our team comes from all around the world.  We aim to challenge genre norms by pushing immersion on a new level.
            </span>
            <span>
                Our debut title, Black Light, will help us build the grounds for the ambitions we have to change the gaming industry.
            </span>
        </div>

        <div class="flex flex-col gap-y-14 w-1/3 w-full">
            <a id="values" class="font-bold text-2xl text-center">Our Values</a>
            <div class="flex flex-row gap-x-10 w-full justify-center">
                <div class="flex flex-col basis-60 shrink-0 gap-y-2">
                    <p class="font-medium text-xl">> PASSION</p>
                    <p>Above all, we are gaming creatives, developers and enthusiasts who thrive to inspire people with
                        our games.</p>
                </div>

                <div class="flex flex-col basis-60 shrink-0 gap-y-2">
                    <span class="font-medium text-xl">> CHALLENGE</span>
                    <p>Pushing gaming on a new level is not an easy task. But we surely use our curiosity, creativity
                        and our heart to try and achieve this goal.</p>
                </div>

                <div class="flex flex-col basis-60 shrink-0 gap-y-2">
                    <span class="font-medium text-xl">> TRANSPARENCY</span>
                    <p>Transparency with our players and transparency with our employees. Communication is key for every
                        success.</p>
                </div>
                <div class="flex flex-col basis-60 shrink-0 gap-y-2">
                    <span class="font-medium text-xl">> TRUST</span>
                    <p>Doing good or doing bad ? We are humans, and we make mistakes. The most important thing is to
                        learn from it.</p>
                </div>
                <div class="flex flex-col basis-60 shrink-0 gap-y-2">
                    <span class="font-medium text-xl">> COMMUNITY</span>
                    <p>Players / devs ? We are all part of the same community. Be respectful, sincere, empathic, and
                        thrive together.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
