{% extends "base.html" %}
{% load static widget_tweaks %}

{% block body_class %}homepage{% endblock %}

{% block content %}
    <div class="home_banner_container relative">
        <img src="{% static "images/home_banner_bg.png" %}" class="w-full object-contain" alt="home banner">
        <div class="w-full h-full flex flex-row absolute top-0 items-center justify-center sm:items-end sm:justify-start font-medium text-white sm:text-2xl">
            <a class="hover:underline underline-offset-8 decoration-white decoration-2 sm:pl-4 sm:pb-4"
               href="https://store.steampowered.com/app/1313230/Beautiful_Light/" target="_blank">
            <span>// WISHLIST NOW ON
                STEAM ></span></a>
        </div>
    </div>

    <div id="content" class="my-11 flex flex-col gap-y-24 font-light items-center [&>*]:scroll-m-20">
        <!-- who we are -->
        <div id="who" class="mx-auto flex flex-col gap-y-8 w-4/5 sm:w-1/3 ">
            <a class="font-bold text-2xl text-center">WHO WE ARE</a>
            <span>
                                                            Deep Worlds was founded in 2022 by a small team of passionate game developers base in Geneva, Switzerland. From Esport players, modders to enthusiast community members, our team comes from all around the world.  We aim to challenge genre norms by pushing immersion on a new level.
                                                            </span>
            <span>
                                                            Our debut title, Black Light, will help us build the grounds for the ambitions we have to change the gaming industry.
                                                            </span>
        </div>

        <div id="values" class="w-full scroll-m-20">
            <!-- our values mobile -->
            <div class="flex flex-col gap-y-14 w-full lg:hidden">
                <a class="font-bold text-2xl text-center">OUR VALUES</a>
                <div class="main-section">
                    <div class="cell-section w-full">
                        <div class="flex flex-col gap-y-2 w-full px-14">
                            <p class="font-medium text-xl">PASSION</p>
                            <p>Above all, we are gaming creatives, developers and enthusiasts who thrive to inspire
                                people
                                with
                                our games.</p>
                        </div>
                    </div>
                    <div class="cell-section w-full">
                        <div class="flex flex-col gap-y-2 w-full px-14">
                            <span class="font-medium text-xl">CHALLENGE</span>
                            <p>Pushing gaming on a new level is not an easy task. But we surely use our curiosity,
                                creativity
                                and our heart to try and achieve this goal.</p>
                        </div>
                    </div>
                    <div class="cell-section w-full">
                        <div class="flex flex-col gap-y-2 w-full px-14">
                            <span class="font-medium text-xl">TRANSPARENCY</span>
                            <p>Transparency with our players and transparency with our employees. Communication is key
                                for
                                every
                                success.</p>
                        </div>
                    </div>
                    <div class="cell-section w-full">
                        <div class="flex flex-col gap-y-2 w-full px-14">
                            <span class="font-medium text-xl">TRUST</span>
                            <p>Doing good or doing bad ? We are humans, and we make mistakes. The most important thing
                                is to
                                learn from it.</p>
                        </div>
                    </div>
                    <div class="cell-section w-full">
                        <div class="flex flex-col gap-y-2 w-full px-14">
                            <span class="font-medium text-xl">COMMUNITY</span>
                            <p>Players / devs ? We are all part of the same community. Be respectful, sincere, empathic,
                                and
                                thrive together.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- our values -->
            <div class="hidden lg:flex flex-col gap-y-14 w-full items-center">
                <a id="values" class="font-bold text-2xl ">OUR VALUES</a>
                <div class="grid grid-cols-values-section w-10/12 gap-16 [&>*]:max-w-[245px] justify-center">
                    <div class="flex flex-col basis-60 gap-y-2">
                        <p class="font-medium text-xl">> PASSION</p>
                        <p>Above all, we are gaming creatives, developers and enthusiasts who thrive to inspire
                            people
                            with
                            our games.</p>
                    </div>

                    <div class="flex flex-col basis-60 gap-y-2">
                        <span class="font-medium text-xl">> CHALLENGE</span>
                        <p>Pushing gaming on a new level is not an easy task. But we surely use our curiosity,
                            creativity
                            and our heart to try and achieve this goal.</p>
                    </div>

                    <div class="flex flex-col basis-60 gap-y-2">
                        <span class="font-medium text-xl">> TRANSPARENCY</span>
                        <p>Transparency with our players and transparency with our employees. Communication is key
                            for
                            every
                            success.</p>
                    </div>
                    <div class="flex flex-col basis-60 gap-y-2">
                        <span class="font-medium text-xl">> TRUST</span>
                        <p>Doing good or doing bad ? We are humans, and we make mistakes. The most important thing
                            is to
                            learn from it.</p>
                    </div>
                    <div class="flex flex-col basis-60 gap-y-2">
                        <span class="font-medium text-xl">> COMMUNITY</span>
                        <p>Players / devs ? We are all part of the same community. Be respectful, sincere, empathic,
                            and
                            thrive together.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- watch us -->
        <div class="flex flex-col gap-y-14 w-full px-8 items-center">
            <a id="twitch" class="font-bold text-2xl text-center">WATCH US LIVE CREATING OUR GAME</a>
            <div id="twitch-embed" class="w-full lg:w-[1042px]"></div>
        </div>
        <!-- sign up -->
        <form id="playtest" action="" method="post" class="flex flex-col gap-y-4 px-8 w-full mx-auto items-center">
            {% csrf_token %}
            <a class="font-bold text-2xl text-center mb-14">SIGN UP FOR ANY UPCOMING PLAYTEST</a>

            <div class="flex flex-col gap-y-4 items-center">
                <div class="flex flex-row items-center gap-y-4 gap-x-40 flex-wrap justify-center">
                     <span class="sm:w-[246px]">
                         Keep in touch with us and be<br class="hidden sm:block">notified of our next playtests!
                     </span>
                    <label for="id_email" class="w-full sm:max-w-fit">
                        {% render_field playtest_form.email class="bg-transparent w-full border-2 focus:outline-none  border-black dark:border-white py-2 px-3" type="email" placeholder="Email" %}
                    </label>
                </div>

                <div class="w-full flex flex-col flex-col-reverse gap-4 sm:flex-row sm:max-w-fit sm:self-end">
                    <label class="flex flex-row gap-x-2 justify-center items-center">
                        <input required type="checkbox" class="accent-[#071D31] border-0 rounded-l" style="width: 1rem">
                        <span class="text-xs">I authorize this website to store the<br>information provided in this form.</span>
                    </label>
                    <input type="submit" value="Submit"
                           class="w-full sm:max-w-fit sm:self-end py-2 px-8 bg-[#071D31] dark:text-black dark:bg-white text-white cursor-pointer">
                </div>
            </div>
        </form>
        <!-- press -->
        <form id="press" action="" method="post" class="flex flex-col gap-y-4 w-full mx-auto items-center">
            {% csrf_token %}
            <a class="font-bold text-2xl text-center mb-14">PRESS & INFLUENCERS</a>

            <div class="flex flex-col px-8 gap-y-4 items-center max-w-fit sm:px-0">
                <div class="flex flex-row items-center flex-wrap gap-x-40 justify-center gap-y-4">
                        <span class="w-[246px]">
                           Contact us to get more infos, or to<br>be part of our partner program!
                        </span>
                    <label for="press_email" class="w-full sm:max-w-fit">
                        {% render_field press_form.email class="w-full bg-transparent border-2 focus:outline-none border-black dark:border-white py-2 px-3" type="email" placeholder="Email" id="press_email" %}
                    </label>
                </div>
                <div class="flex flex-col items-center gap-y-4 w-full">
                    <label for="id_subject" class="w-full">
                        {% render_field press_form.subject class="bg-transparent border-2 focus:outline-none border-black dark:border-white py-2 px-3 w-full" placeholder="Subject" %}
                    </label>
                    <label for="press-message" class="w-full">
                        {% render_field press_form.message class="bg-transparent border-2 focus:outline-none border-black dark:border-white py-2 px-3 h-40 w-full" placeholder="Message.." %}
                    </label>
                </div>
                <div class="w-full flex flex-col flex-col-reverse gap-4 sm:flex-row sm:max-w-fit sm:self-end">
                    <label class="flex flex-row gap-x-2 justify-center items-center ">
                        <input required type="checkbox" class="accent-[#071D31] border-0 rounded-l" style="width: 1rem">
                        <span class="text-xs">I authorize this website to store the<br>information provided in this form.</span>
                    </label>
                    <input type="submit" value="Submit"
                           class="w-full sm:max-w-fit sm:self-end py-2 px-8 bg-[#071D31]  text-white dark:text-black dark:bg-white cursor-pointer">

                </div>
            </div>
        </form>
    </div>


{% endblock content %}
{% block extra_js %}
    <script src="{% static "js/v1.js" %}"></script>
    <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
            width: '100%',
            height: 435,
            channel: "deepworldsstudio",
        });
    </script>
    <script>
        let flkty = new Flickity('.main-section', {
            // options
            cellAlign: 'left',
            contain: true,
            autoPlay: true,
            wrapAround: true,
        });

        function smoothScroll(scrollTo) {
            document.querySelector(scrollTo).scrollIntoView({
                behavior: 'smooth'
            });
        }
    </script>
{% endblock %}
