@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.inset-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inset-y-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
